{%comment%}start swatches section{%endcomment%}
{% if product.handle contains "-dup-" %}

<div class="q-biz-wrap"> 
<h3 style="text-align: right;">בחר/י חומר:</h3>
{% assign baseHandle = product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold" %}

{% for tag in product.tags %}
  		{% if tag == 'dup-silver' %}
  			{% assign finalHandle = baseHandle | append: '-dup-silver' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-silver"><img title="ציפוי כסף" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-silver.jpg?179"></a><span>כסף</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      	{% if tag == 'dup-18k-gold' %}
   			{% assign finalHandle = baseHandle | append: '-dup-18k-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-18k-gold"><img title="ציפוי זהב" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-gold.jpg?179"></a><span>ציפוי זהב</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      {% if tag == 'dup-18k-red-gold' %}
  			{% assign finalHandle = baseHandle | append: '-dup-18k-red-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-18k-red-gold"><img title="ציפוי זהב אדום" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-red-gold.jpg?179"></a><span>ציפוי זהב אדום</span>{{ all_products[finalHandle].price | money_with_currency}}</div>
  		{% endif %}
      {% if tag == 'dup-vermeil-gold' %}
   			{% assign finalHandle = baseHandle | append: '-dup-vermeil-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-vermeil-gold"><img title="ציפוי זהב ורמיל" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-gold.jpg?179"></a><span>ציפוי זהב ורמיל</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      {% if tag == 'dup-10k-yellow-gold' %}
   			{% assign finalHandle = baseHandle | append: '-dup-10k-yellow-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-10k-yellow-gold"><img title="ציפוי זהב 10K" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-gold.jpg?179"></a><span>זהב 10K</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      {% if tag == 'dup-10k-white-gold' %}
  			{% assign finalHandle = baseHandle | append: '-dup-10k-white-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-10k-white-gold"><img title="זהב לבן 10K" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-silver.jpg?179"></a><span>זהב לבן 10K</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      {% if tag == 'dup-14k-yellow-gold' %}
   			{% assign finalHandle = baseHandle | append: '-dup-14k-yellow-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-14k-yellow-gold"><img title="ציפוי זהב 14K" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-gold.jpg?179"></a><span>זהב 14K</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}
      {% if tag == 'dup-14k-white-gold' %}
  			{% assign finalHandle = baseHandle | append: '-dup-14k-white-gold' %}
  			<div class="available-also"><a href="{{product.handle | remove: "-dup-silver" | remove: "-dup-10k-white-gold" | remove: "-dup-14k-white-gold" | remove: "-dup-18k-gold" | remove: "-dup-10k-solid-gold" | remove: "-dup-14k-solid-gold" | remove: "-dup-18k-red-gold" | remove: "-dup-14k-yellow-gold" | remove: "-dup-10k-yellow-gold" | remove: "-dup-vermeil-gold"}}-dup-14k-white-gold"><img title="זהב לבן 14K" src="https://cdn.shopify.com/s/files/1/0076/6561/4884/files/swatch-silver.jpg?179"></a><span>זהב לבן 14K</span>{{ all_products[finalHandle].price | money_with_currency }}</div>
  		{% endif %}  
{% endfor %}
</div> 
{% endif %}
{%comment%}end swatches section{%endcomment%}